* {
  box-sizing: border-box;
  background: #f3f;
}

.btn1 {
  background: #4c6ca0;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
}

.btn2 {
  background: #cfb311;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
}

.btn1:hover {
  color: #f4f4f4;
  background: #446190;
}

.btn2:hover {
  color: #f4f4f4;
  background: #97951e;
}

.btn3 {
  background: #189914;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
}

.btn4 {
  background: #f53770;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
}

.btn3:hover {
  color: #f4f4f4;
  background: #177517;
}
.btn4:hover {
  color: #f4f4f4;
  background: #991e1e;
}
.btn5 {
  background: white;
  color: rgb(0, 0, 0);
  /* border: solid #f53770; */
  font-size: 16px;
  padding: 10px 20px;
}

.btn5 a {
  text-decoration: none;
}

.btn6 {
  background: white;
  color: rgb(0, 0, 0);
  border: solid violet;
  font-size: 16px;
  padding: 10px 20px;
}
.btn5:hover {
  background: #f53770;
}
.btn6:hover {
  background: violet;
}
.btn7 {
  background: white;
  color: rgb(0, 0, 0);
  border: solid #918f17;
  border-radius: 30px;
  font-size: 16px;
  padding: 10px 20px;
}
.btn8 {
  background: white;
  color: rgb(0, 0, 0);
  border: solid cyan;
  border-radius: 30px;
  font-size: 16px;
  padding: 10px 20px;
}
.btn7:hover {
  background: #918f17;
}
.btn8:hover {
  background: cyan;
}

.btn9 {
  width: 204px;
  height: 40px;
  background: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-image: initial;
  border-radius: 4px;
  text-decoration: none;
  padding: 4px 24px;
  margin: 0px 0px 0px 8px;
}

.btn9 a {
  text-decoration: none;
  background: none;
  background-color: transparent;
}
